extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    div.backdiv
      table.table.table-striped
        thead
          tr
            th Participants
            th Last Message

        tbody
          each conversation in conversations
            tr
<<<<<<< HEAD
              td
                a(href=`/conversations/${conversation.id}`)= conversation.title 
              td= `${conversation.user.firstName} ${conversation.user.lastName}`

    form(action=`/conversations/new`, method="GET")
          input.btn.btn-dark(type='submit', value="New")  
=======
              td 
                a(href=`/conversations/${conversation._id}`)= conversation.users.join(", ")
              td= "VALUE"
>>>>>>> master
              