extends ../layouts/main.pug

block content
  .container
    header
      h1.user ChitChat

    div.box
      table.table.table-striped   
        tbody
          //each message in messages
          each message in conversation.messages
            tr
              th.text-message= message.content
            tr  
              td= "USER NAME"
              // `${conversation.user.firstName} ${conversation.user.lastName}`
              td= "Message ID"
              //`${message.id}`
              
    include ./form.pug

                

